<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="work03">
	<select id="aa" parameterType="HashMap" resultType="HashMap">
		/* /test/testMapper.xml - testList ( 테스트 조회 ) */
		SELECT
				PROFILE_ID AS profileId                                     /* PROFILE_ID */
				,FRIEND_ID AS friendId                                     /* FRIEND_ID */
				,X_ID AS xId                                     /* X_ID */
		FROM    FRIEND          /* FRIEND Table */
		WHERE PROFILE_ID = #{profileId}
	</select>
	
	<select id="bb" parameterType="HashMap" resultType="HashMap">
		/* /department/departmentMapper.xml - departmentList (학과조회) */
		SELECT
			DEPT_CODE as deptCode	/*학과코드*/
			,DEPT_NAME as deptName 	/*학과명*/
		FROM   DEPARTMENT	/*학과테이블*/
		
		WHERE 1=1
		<!-- Where del_yn = 'n' -->
		
		<if test="deptCode !=null and deptCode !=''">
			and dept_code = #{deptCode}	/*학과코드*/
		</if>
		
		<if test="deptName !=null and deptName !=''">
			and dept_name = #{deptName}	/*학과명*/
		</if>
		
	</select>
	
	<insert id="cc" parameterType="HashMap" >
		/* /department/departmetnMapper.xml - departmentInsert (확과등록) */
		INSERT INTO DEPARTMENT 
			(DEPT_CODE	/*학과코드*/
			, DEPT_NAME	/*학과명*/
			, DEPT_ENAME	/*학과영문명*/
			, CREATE_DATE)	/*학과생성일자*/
		VALUES(#{deptCode}	/*학과코드*/
		,#{deptName}	/*학과명*/
		,#{deptEname}	/*학과영문명*/
		,now() )/*학과생성일자*/
	</insert>
	
	<update id="dd" parameterType="HashMap" >
		/* /department/departmetnMapper.xml - departmentUpdate (확과등록) */
		UPDATE DEPARTMENT SET 
			DEPT_CODE = #{deptCode}	/*학과코드*/
			, DEPT_NAME = #{deptName}	/*학과명*/
			, DEPT_ENAME = #{deptEname}	/*학과영문명*/
			, CREATE_DATE = now() 	/*학과생성일자*/
		where DEPT_CODE = #{deptCode}
	</update>
	
</mapper>

