@charset "UTF-8";

@font-face{ font-family: 'nanum'; font-style: normal; font-weight: bold; src: url('../font/NanumGothic.eot'); src:local('#'), url('../font/NanumGothic.woff') format('woff'), url('../font/NanumGothic.ttf') format('truetype')}
@font-face{ font-family: 'nanumBold'; font-style: normal; font-weight: bold; src: url('../font/ngBold.eot'); src:local('#'), url('../font/ngBold.woff') format('woff'), url('../font/ngBold.ttf') format('truetype')}

            
#oneDiv{
	width:800px;
	height: 600px;
	border:1px solid #e1e2e2;
	position: absolute;
}

#topDiv{
	width:790px;
	height: 100px;
	border:1px solid #e1e2e2;
	position: relative;
}

#top2Div{
	width:790px;
	height: 390px;
	border:1px solid #e1e2e2;
	display: inline-block;
}

#leftDiv{
	width:190px;
	height: 380px;
	border:1px solid #e1e2e2;
	float:left;
	display: inline-block;
}

#rightDiv{
	width:590px;
	height: 380px;
	border:1px solid #e1e2e2;
	float:left;
	display: inline-block;
}

#rightDivIn{
	width:580px;
	height: 65px;
	border:1px solid #fff;
	float:left;
	display: inline-block;
}

#rightDivIn1{
	width:280px;
	height: 60px;
	border:1px solid #e1e2e2;
	float:left;
	display: inline-block;
}

#rightDivIn2{
	width:280px;
	height: 60px;
	border:1px solid #e1e2e2;
	float:left;
	display: inline-block;
}



